.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
}

.node-finish {
    background-color: rgb(45, 252, 3) !important;
}

.node-start {
    background-color: #bc6c25 !important;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.highlighted-node{
    background-color: #ffd60a !important;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: black;
        border-radius: 100%;
    }

    50% {
        background-color: #6c757d;
    }

    75% {
        transform: scale(1.2);
        background-color: #c8b6ff;
    }

    100% {
        transform: scale(1);
        background-color: #e5383b;
    }
}

.node-wall {
    background-color: black;
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: rgb(133, 133, 86);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(214, 214, 63);
    }

    100% {
        transform: scale(1);
        background-color: rgb(252, 252, 2);
    }
}