.grid {
    margin: 100px 0 0;
}

.mainnavbar {
    display: flex;
    justify-content: space-between;
    /* Updated to space-between */
    align-items: center;
    padding: 0 20px;
    /* Updated padding */
}

.secondnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.secondnavbar p {
    margin: 0;
}

.greenButton {
    background-color: green;
    color: white;
    padding: 10px 15px;
    margin: 50px 10px 50px 0;
    font-size: large;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.greenButton:hover {
    transform: translateY(2px);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.orangeButton {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    margin: 50px 10px 50px 0;
    cursor: pointer;
    font-size: large;
    transition: transform 0.3s, box-shadow 0.3s;
}

.orangeButton:hover {
    transform: translateY(2px);
    box-shadow: 0 0 10px rgb(231, 157, 20, 0.7);
}

.notification {
    background-color: red;
    color: white;
    padding: 10px 15px;
    font-size: large;
    margin: 50px 10px 50px 0;
    /* Updated margin */
    transition: transform 0.3s, box-shadow 0.3s;
}

.notification:hover {
    box-shadow: 0 0 10px rgb(247, 3, 3);
}

.githubLink {
    display: flex;
    /* Added flex display */
    align-items: center;
    /* Align items vertically */
    margin-left: auto;
    /* Push to the right */
    padding: 10px;
    /* Added padding for spacing */
}

.githubLink img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}